
@{
    ViewData["Title"] = "Refresh your soul and drink some boba! ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose your delicious drink(s)!</h1>
<ul>
    <li>
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 1"> Drink 1 </a>
    </li>
 
    <li> 
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 2"> Drink 2 </a>
    </li>
    <li>
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 3"> Drink 3 </a>
    </li>
</ul>

