
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<p>
    Hanh Dinh started CooliosoTEA in 2030. Growing up in Orange County where boba shops were always plentiful, she wanted to create her combine her passion
    for business and food and created her own store. The key elements of our business is focusing on the big three: fresh ingredients (no artificial syrups
    used whatsoever), excellent customer service, and open space to allow boba dates and peaceful studying.
</p>
    
    <br> Interested in starting a career with CooliosoTEA? Email cooliosotea@gmail.com for further details. 
    
   

