@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CooliosoTEA!</h1>
    <p>Located in various locations throughout Southern California, we strive to serve you freshly made boba and smiles. </a></p>
</div>
